/* 
grain texture design: https://www.youtube.com/watch?v=_ZFghigBmqo
scroll animaiton: https://www.youtube.com/watch?v=pFtxR-O78sY
infinite horizontal scroll: https://www.youtube.com/watch?v=Reu0hHbis5w
*/

:root{
    --header-color: #D95540;
    --header-title-color: #302EB0;
    --bg-color: #F6ECD2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", serif;
}

body{background-color: var(--bg-color);}

.checkered{
	background-image: repeating-conic-gradient(var(--header-title-color) 0% 25%, var(--bg-color) 0% 50%);
	background-position: 0 0, 10px 10px;
	background-size: 50px 50px;
	background-color: #E4E4ED;	
    width:100%;
    height:50px;
}

.header, .mini-texts{
    color: var(--header-color);
    margin: auto;
}

.top{
    padding:15px;
}

.date{
    border-radius: 20px;
    color: var(--header-color);
    font-size: 1.5rem;
    margin: auto;
    display:flex;
    justify-content: space-around;
    width:60%;
}

#month{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.number{
    position: absolute;
    top:1;
    left:40%;
    z-index: 1;
    margin:auto;
    font-size: 22rem;
    color: var(--header-color);
    font-family: 'Times New Roman', Times, serif;
}

.title-container{
    color: var(--header-title-color);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin: 25px;
}

.cuisines{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}

.box{
    margin: auto;
    border:5px solid var(--header-title-color);
    width:350px;
    height:350px;
    background-color: var(--header-title-color);
    position:relative;
}

.box img{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    filter: hue-rotate(320deg);
}

.box img:hover{
    filter: hue-rotate(0deg);
}


.ingredients{
    z-index: 1;
    width:100vw;
    height:100vh;
}

.food{
    display: flex;
    justify-content: space-around;
    margin: 150px auto;
    width: 100%;
    height: 100%;
}

.food img{
    margin:auto;
    width:40%;
}